//color 
$black: #1a1a1a;
$lightBlue: #21d3f9;
$grey: #adabac;

//fonts
$archivo: 'Archivo Black', sans-serif;
$prompt: 'Prompt', sans-serif;

//size
$width-sm: 576px;
$width-md: 767px;
$width-lg: 992px;