* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

// Main styles

html {
	font: 400 16px/1.2 $prompt;
}

body {
	padding-top: 1px;
	background: url('../images/noise.png')
}

.container, .container-fluid {
	padding-bottom: 80px;
}

.dot {
	color: $lightBlue;
}

.title {
	position: relative;
	font-weight: 700;
	letter-spacing: 2px;
	display:inline-block;
	// line-height: 5rem;
	color: #fff;
	font-size: 5rem;
	margin-bottom: 50px;
	
	&.title-lg {
		font-size: 4rem;
		align-self: flex-start;
		margin-bottom: 30px;
		
		@media (min-width: $width-md) {
			font-size: 6rem;
		}

		@media (min-width: $width-lg) {
			font-size: 7rem;
		}
	}
}